.head{
    /* background-color: red; */
    height: 320px;
}
.bannerArtist{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    /* height: 250px; */

    /* display: flex; */
    align-items: center;
    padding: 20px;
}
.artistImg{
    width: 300px;
    height: 300px;
    /* border-radius: 50%; */
    background: none;
    /* margin: 30px; */
    margin-right: 20px;
    float: left;
}
.artistImg img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.name{
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}
.followbtn{
    font-size: large;
    height: 50px;
    width: 150px;
    border-radius: 30px;

    margin-top: 20px;

    /* background-color: #420785; */
    background-color: #D9ADAD;
    color: white;
    font-weight: bolder;
}
.detailInfo{
    color: rgb(255, 255, 255, 0.7);
}
.songs{
    /* background-color: plum; */
    padding: 30px;
}
.nd1{
    height: 250px;
    /* background-color: red; */
    margin-bottom: 40px;
}
.songImg{
    width: 210px;
    height: 210px;
    background-color: rebeccapurple;
    padding: 10px;
    float: left;
    margin-right: 30px;
    margin: 10px;
    margin-right: 50px;
}
.songImg2{
    width: 210px;
    height: 210px;
    padding: 10px;
    background-color: tomato;
}
.songImg img{
    width: 210px;
    height: 210px;
}
.listSongs{
    /* width: 65%; */
    /*float: right; */
    /* background-color: yellow; */
}

.SingleofArtist{
    display: flex;
    justify-content: flex-start;
}
.wrapper{
    margin: 10px;
}