.navOption button{
    opacity: 0;
}
.loginContainer,.singupContainer{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(100, 90, 90, 0.5);
    z-index: 10;

    opacity: 0;
    visibility: hidden;

}
.loginContainer.show , .singupContainer.show{
    opacity: 1;
    visibility: visible;
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    text-align: center;
    /*  */
}
.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;

}
.box input[type = "text"], .box input[type = "password"], input[type = "email"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px; 
    outline: none;
    color: black;
    border-radius: 24px;
    
    transition: 0.25s;

}
.box input[type = "text"]:focus, .box input[type = "password"]:focus, input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;

}
.box a{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 150px;
    border: 2px solid #2ecc71;
    padding: 14px 40px; 
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box a:hover{
    background: #2ecc71;
}
.box p{
    color: red;
}

.box  button{
    color: #BD3434;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 5px;
    height: 35px;
    width: 35px;

    border-color: #BD3434;
}
.box button:hover{
    background-color: rgb(212, 138, 138);
}
