.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    /* border-radius: 6px; */
    padding: 5px 0;
    font-size: 15px;

  
    /* Position the tooltip */
    position: absolute;
    left: 0;
    bottom: 110%;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }